*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Header*/

.header{
  width:100%;
  min-height: 100vh;
  background-color: #2da322;
  background-size: cover;
  background-position: center;
  position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 107, 62);
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-right: 30px;
}

.nav-links ul li a{
color: #ffffff;
text-decoration:none;
font-size: 18px;
}

.nav-links ul li::after{
content: '';
width: 0%;
height: 2px;
background: #2da322;
display: block;
margin: auto;
transition: 0.5s;
}

.nav-links ul li:hover::after{
width: 100%;
}

.text-box-1 {
width: 90%;
height: auto;
color: rgb(255, 255, 255);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}

.text-box-1 h1{
font-size: 60px;
}

.text-box-1 p{
margin: 10px 0  40px;
font-size: 23px;
color: rgb(255, 255, 255);
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
.text-box-1 h1{
    font-size: 20px;
     }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(0, 107, 62);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
    }
}

.drop-down-1{
    display: none;
    border-radius: 5px;
}
.nav-links ul li:hover .drop-down-1{
    display: block;
    position: absolute;
    background: rgb(0, 194, 87);
    margin-top: 15px;
    margin-left: 15px;
}

.nav-links ul li:hover .drop-down-1{
    width: 100px;
    padding: 10px;
    text-align: center;
}

body {
    background-color: #2da322;
}

.main-img{
    position: relative;
    bottom: 150px;
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    border-radius: 10px;
}

/*Footer*/

.footer{
    margin-top: 400px;
    margin-bottom: 10px;
    width: 100%;
    background: rgb(0, 107, 62);
    color: rgb(255, 255, 255);
    display: flex;
}

.footer div{
    text-align: center;
}
.column-2{
    flex-grow: 2;
}
.footer div h3{
   margin-top: 30px;
   font-weight: 300; 
   margin-bottom: 30px;
   letter-spacing: 1px;
   
}
.column-1 a{
    position: relative;
    left: 50px;
    font-size: small;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    text-align: left;
}
.column-1 h3{
    text-align: left;
    position: relative;
    left: 50px;
}
.column-3 {
    position: relative;
    margin-bottom: 20px;
    right: 50px;
}

form input{
    width: 300px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: #007714;
    border: 3px solid #fff;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.social-media img{
    margin: 30px 5px 0 5px;
    width: 2vw;
    height: auto;
}

/*Body*/

.main-img{
    position: relative;
    bottom: 150px;
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.section{
    color: #fff;
    font-size: 20px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sub-img-1{
    float: right;
    max-width: 320px;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-left: 20px;
}
.sub-img-2{
    float: left;
    max-width: 320px;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 20px;
}

.wrap{
    margin: 150px auto;
    width: 70%;
    margin-bottom: 200px;
}

.details-card{
    font-size: 20px;
    color: rgb(30, 255, 0);
    display: block;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 12px 34px;
    background: rgb(0, 107, 62);
    position: relative;
}
.details-card h3{
    text-align: center;
}
.details-list{
    list-style-type: square;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 30px;
}
